{% extends 'base.html' %}


{% block head %}
<title> Edit Post </title>
{% endblock %}

{% block body %}

<h2>Edit Blog Post</h2>
<hr>
<form action = '/posts/edit/{{post.id}}' method = 'POST'>
	<label for = 'title' class = 'form-label'>Title</label>
	<input class = 'form-control' type = 'text' name = title id = 'title' value = '{{post.title}}'>
        <br>
	<label for = 'content' class = 'form-label'>Post</label>
<textarea class = 'form-control' type = 'text' name = 'content' id = 'content' rows = 3>{{post.content}}</textarea>
        <br>
	<label for = 'author' class = 'form-label'>Author</label>
	<input class = 'form-control' type = 'text' name = 'author' id = 'author' value = '{{post.author}}'>
        <br>
        <input type = 'submit' value = 'Save'>
</form>
<hr>

{% endblock %}

