{% block head %}

<title> Posts </title>

{% endblock %}

{% block body %}

<h1> All Posts </h1>

<hr>
<h2>Create New Blog Post</h2>
<form action = '/posts' method = 'POST'>
	Title : <input type = 'text' name = title id = 'title'>
	<br>
	Post : <input type = 'text' name = 'content' id = 'content'>
	<br>
	Author : <input type = 'text' name = 'author' id = 'author'>
	<br>
	<input type = 'submit' value = 'Post'>
</form>
<hr>
	{% for post in posts %}
		<h2>{{ post.title }}</h2>
		<p>{{post.content}}<p>
	{% endfor %}

{% endblock %}
