{% extends 'base.html' %}

{% block head %}

<title> Posts </title>

{% endblock %}

{% block body %}

<div class = 'container'>
	<h1 style = "display: inline"> All Posts </h1>
	<a style = "display: inline;" class = "btn btn-success float-right" href = '/posts/new'> + Create New Post</a>
</div>
<hr>
	{% for post in posts %}
		<br>
		<h2>{{ post.title }}</h2>
		<small>Written by: {{post.author}} on {{post.post_date}} </small>
		<br>
		<br>
		<p style = "white-space : pre-wrap">{{post.content}}<p>
		<br>
		<a class = 'btn btn-danger' href = '/posts/delete/{{post.id}}'>Delete</a>
		<a class = 'btn btn-primary' href = '/posts/edit/{{post.id}}'>Edit</a>
                <hr>
	{% endfor %}

{% endblock %}
